.booth{
    width: 400px;
    background-color: #CCCCCC;
    border: 10px solid #dddddd;
    margin:0 auto;
}

.booth-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
